@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #f4f4f4;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #0F4C75;
    --primary-foreground: #fafafa;
    --secondary: #e9e9ed;
    --secondary-foreground: #0f0f17;
    --muted: #f2f2f7;
    --muted-foreground: #777986;
    --accent: #f2f2f7;
    --accent-foreground: #0f0f17;
    --destructive: #d93738;
    --destructive-foreground: #fafafa;
    --received-message: #4e5af8;
    --sent-message: #54ed3b;
    --message-foreground: #191919;
    --border: #cfcfcf;
    --input: #e6e6e6;
    --ring: #0a0a0a;
    --chart-1: #e86b34;
    --chart-2: #31a989;
    --chart-3: #1f5d8e;
    --chart-4: #e7bd2b;
    --chart-5: #f2b658;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #ededed;
    --primary-foreground: #0f0f17;
    --secondary: #25272b;
    --secondary-foreground: #fafafa;
    --muted: #25272b;
    --muted-foreground: #9393a7;
    --accent: #25272b;
    --accent-foreground: #fafafa;
    --destructive: #930b0b;
    --destructive-foreground: #fafafa;
    --received-message: #242a73;
    --sent-message: #2b7321;
    --messaidentifierge-foreground: #fafafa;
    --border: #25272b;
    --input: #25272b;
    --ring: #d6d6d6;
    --chart-1: #346bff;
    --chart-2: #1d7352;
    --chart-3: #ffcc7f;
    --chart-4: #d66ada;
    --chart-5: #ff557b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bar-button {
    @apply flex items-center gap-3 p-2 rounded leading-none cursor-pointer hover:bg-secondary mb-1
  }
}
